app-topbar >header {
  background-color: lightskyblue;
  padding: 0 1% 0 1%;

}

app-topbar > header > .header-content .logout
app-topbar > header > .header-content .menu {
  display: inline-block;
}

app-topbar > header > .header-content ul {
  display: inline-block;
  padding: 0;
  margin: 0;
}
app-topbar > header > .header-content ul>li {

  list-style: none;
  display: inline-block;
  margin-left: 48px;

}
app-topbar > header > .header-content > .logout {
  text-align: right;
  float: right;
}

app-topbar > header > .header-content {
  display: inline-block;
  width: 79.9%;
}

app-topbar > header > h1 {
  width: 20%;
  display: inline-block;
}
app-topbar .menu-element i,
app-topbar .menu-element p,
app-topbar .logout i,
app-topbar .logout p{
  display:inline;
  font-size: 24px;
}
app-topbar .menu-element i, app-topbar .logout i{
  vertical-align: top;
}

app-topbar a:visited, app-topbar a, app-topbar .logout {
color: #3f51b5;
}
app-topbar .logout:hover, app-topbar ul.menu>li.menu-element a:hover {
  cursor: pointer;
  color: white !important;
}
